manifest {
    name = 'Optimization_nf'
    description = 'Workflow for benchmarking a specific module'
    author = 'Davi Marcon <davijosuemarcon@gmail.com>'
    mainScript = 'main.nf'
    nextflowVersion = '>=22'
}

// CPUS + MEMORY using glob patterns
includeConfig 'conf/cpus.config'
includeConfig 'conf/memory.config'

profiles {
    conda { includeConfig 'conf/conda.config'}
    docker { includeConfig 'conf/docker.config'}
    //Executor Related
    gls { includeConfig 'conf/gcp.config' }
    azureBatch { includeConfig 'conf/azure.config' }
    awsBatch { includeConfig 'conf/aws.config' }

}
