process {
    withName:
    'TRIMMOMATIC' {
        cpus = 4
    }
     withName:
    'SPADES' {
        cpus = 4
    }
     withName:
    '.*4CPUS.*' {
        cpus = 4
    }
      withName:
    '.*6CPUS.*' {
        cpus = 6
    }
      withName:
    '.*8CPUS.*' {
        cpus = 8
    }
     withName:
    '.*12CPUS.*' {
        cpus = 12
    }
     withName:
    '.*16CPUS.*' {
        cpus = 16
    }
     withName:
    '.*20CPUS.*' {
        cpus = 20
    }

}
