docker.enabled = true

process {
    withName:
    "TRIMMOMATIC" {
         container = 'quay.io/biocontainers/trimmomatic:0.35--6'
    }

    withName:
    'SPADES' {
        container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
    }

    withName:
    'PROKKA.*' {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    }

}
