process {
    withName:
    'TRIMMOMATIC' {
        memory = "8 GB"
    }
     withName:
    'SPADES' {
        memory = "8 GB"
    }
     withName:
    '.*4GB' {
        memory = "4 GB"
    }
      withName:
    '.*8GB' {
        memory = "8 GB"
    }
      withName:
    '.*12GB' {
        memory = "12 GB"
    }
     withName:
    '.*16GB' {
        memory = "16 GB"
    }
     withName:
    '.*20' {
        memory = "20 GB"
    }
}
